

.hero .left .text, .header .links {
    color: #E5E7EB
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan';
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.header, .hero {
    background-color: #1F2937;
    color: white;
    display: flex;
}
/* Header section*/
.header {
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    align-self: center;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 15px;
}

.links li {
    list-style-type: none;
}
/* Hero section*/
.hero {
    justify-content: center;
    height: 450px;
}
/* Left section */
.left {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 300px;
    width: 400px;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.left .text {
    font-size: 18px;
    padding: 15px 0;
}

.sign-up {
   
    outline: 0;
    width: 120px;
    grid-gap: 8px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 16px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    padding: 0px;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
}
.sign-up:hover {
        box-shadow: 4px 4px 0 #000;
        transform: translate(-4px,-4px);
    }
.sign-up:focus-visible {
        outline-offset: 1px;
    }





.right {
    display: flex;
    align-items: center;
}

.right img {
    max-width: 300px;
    max-height: 300px;
    align-items: center;
    margin-left: 30px;
}







